{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
	{lager, "3.5.1"},
	{erlando, ".*", {git, "https://github.com/travelping/erlando.git", "master"}},
	{ppp, ".*", {git, "git://github.com/travelping/ppp", "master"}}
]}.

{minimum_otp_vsn, "19"}.
{plugins, []}.

%% xref checks to run
{xref_checks, [undefined_function_calls, undefined_functions,
	       locals_not_used, deprecated_function_calls,
	       deprecated_funcqtions]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
