%-*-Erlang-*-
{erl_opts, [debug_info]}.

{deps, [
	{erlando, {git, "https://github.com/travelping/erlando.git", {tag, "1.0.2"}}},
	{ppp, {git, "git://github.com/travelping/ppp", {branch, "modernize"}}}
]}.

{minimum_otp_vsn, "21.3"}.
{plugins, []}.

{profiles, [
	    {test,
	     [{deps,
	       [{proper, {git, "https://github.com/proper-testing/proper.git",
			  {branch, "master"}}}]},
	      {plugins, [coveralls]}
	     ]},
	    {pcap,
	     [{deps,
	       [{flower, {git, "git://github.com/travelping/flower.git",
			  {branch, "master"}}},
		{gen_socket, {git, "git://github.com/travelping/gen_socket.git",
			      {branch, "master"}}},
		{pcapng, {git, "git://github.com/travelping/pcapng.git",
			  {branch, "master"}}},
		{proper, {git, "https://github.com/proper-testing/proper.git",
			  {branch, "master"}}}
	       ]}
	     ]}
	   ]}.

%% xref checks to run
{xref_checks, [undefined_function_calls, undefined_functions,
	       locals_not_used, deprecated_function_calls,
	       deprecated_funcqtions]}.

%% == Cover ==
%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, true}.

%% Whether to export coverage report to file. Default is `false'
{cover_export_enabled, true}.

%% == covervalls.io ==
{do_coveralls_after_ct, false}.
{do_coveralls_after_eunit, false}.
{coveralls_coverdata, "_build/test/cover/ct.coverdata"}.
{coveralls_service_name, "travis-ci"}.
