{erl_opts, [debug_info]}.

{deps, [
	{erlando, {git, "https://github.com/travelping/erlando.git", {tag, "1.0.2"}}},
	{ppp, {git, "git://github.com/travelping/ppp", {branch, "modernize"}}}
]}.

{minimum_otp_vsn, "20.1"}.
{plugins, []}.

{profiles, [
	    {test,
	     [{deps,
	       [{proper, "1.2.0"}]}
	     ]},
	    {pcap,
	     [{deps,
	       [{flower, {git, "git://github.com/travelping/flower.git",
			  {branch, "master"}}},
		{gen_socket, {git, "git://github.com/travelping/gen_socket.git",
			      {branch, "master"}}},
		{pcapng, {git, "git://github.com/travelping/pcapng.git",
			  {branch, "master"}}},
		{proper, "1.2.0"}]}
	     ]}
	   ]}.

%% xref checks to run
{xref_checks, [undefined_function_calls, undefined_functions,
	       locals_not_used, deprecated_function_calls,
	       deprecated_funcqtions]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
